include ../modules/includies/includies
+includies

head
  +head(head.news)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Новости')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Создание новости

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li
              a(href='news.html') Новости
            li.active Добавить

          ul.nav.nav-tabs
            li
              a(href='news.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li.active
              a(href='add-news-item.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить

          form.form-horizontal(accept-charset='UTF-8', action='', data-title='New User', enctype='multipart/form-data', method='post')
            .form-group
              label.control-label.col-sm-1(for='') Заголовок
              .col-sm-3
                input.form-control(name='', type='text', value='')
                .help-block Обязательное. Длинна не больше 255 символов
            .form-group
              label.control-label.col-sm-1(for='') Текст
              .col-sm-3
                textarea.form-control(name='', rows='5', value='')
                .help-block Обязательное
            .form-group
              label.control-label.col-sm-1(for='') Игра
              .col-sm-3
                select.form-control(name='')
                  option 22.05.2015
                  option ...
                  option ...
                .help-block&nbsp
            .form-group
              label.control-label.col-sm-1(for='') Статус
              .col-sm-3
                select.form-control(name='')
                  option опубликована
                  option скрыта
                .help-block&nbsp
            .form-group
              .col-sm-offset-1.col-sm-5
                button.btn.btn-primary(data-disable-with='Save', name='_save', type='submit')
                  span.glyphicon.glyphicon-ok
                  |&nbsp Сохранить
                button.btn.btn-default(data-disable-with='Cancel', name='_continue', type='submit')
                  span.glyphicon.glyphicon-remove
                  |&nbsp Отмена
          +footer
