include ../modules/includies/includies
+includies

head
  +head(head.video)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Видеозаписи')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Создание видеозаписи

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li
              a(href='video.html') Видеозаписи
            li
              a(href='game-video.html') Видеозаписи к игре от 15.05.2015
            li.active Добавить

          ul.nav.nav-tabs
            li
              a(href='game-video.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li.active
              a(href='add-video.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить
          form.form-horizontal(accept-charset='UTF-8', action='', data-title='New User', enctype='multipart/form-data', method='post')
            .form-group
              label.control-label.col-sm-1(for='') Ссылка
              .col-sm-3
                input.form-control(name='', type='text', value='', placeholder='http://')
                .help-block Обязательное
            .form-group
              .col-sm-offset-1.col-sm-5
                button.btn.btn-primary(data-disable-with='Save', name='_save', type='submit')
                  span.glyphicon.glyphicon-ok
                  |&nbsp Сохранить
                button.btn.btn-default(data-disable-with='Cancel', name='_continue', type='submit')
                  span.glyphicon.glyphicon-remove
                  |&nbsp Отмена

          +footer
