include ../modules/includies/includies
+includies

head
  +head(head.question)
body.rails_admin
  +navbar
  .container-fluid
    +nav('Вопросы')

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Импорт вопросов

          ol.breadcrumb.panel.panel-default
            li
              a(href='index.html') Панель управления
            li
              a(href='questions-list.html') Вопросы
            li 
              aa(href='game-questions.html') Вопросы к игре от 22.05.2015
            li.active Импорт

          ul.nav.nav-tabs
            li
              a(href='game-questions.html')
                span.glyphicon.glyphicon-th-list
                | &nbspСписок
            li
              a(href='add-question.html')
                span.glyphicon.glyphicon-plus
                | &nbspДобавить
            li.active
              a(href='import-questions.html')
                span.glyphicon.glyphicon-import
                | &nbspИмпорт
          form.form-horizontal(accept-charset='UTF-8', action='', data-title='New User', enctype='multipart/form-data', method='post')
            .form-group
              label.control-label.col-sm-2(for='') Файл с вопросами
              .col-sm-2
                input.form-control(name='', type='file', value='')
                .help-block Выберите файл формата .CSV
            
            .form-group
              .col-sm-offset-2.col-sm-5
                button.btn.btn-primary(data-disable-with='Save', name='_save', type='submit')
                  span.glyphicon.glyphicon-ok
                  |&nbsp Сохранить
                button.btn.btn-default(data-disable-with='Cancel', name='_continue', type='submit')
                  span.glyphicon.glyphicon-remove
                  |&nbsp Отмена

          +footer
