include ../modules/includies/includies
+includies

head
  +head(head.dashboard)
body.rails_admin
  +navbar
  .container-fluid
    +nav()

    .col-sm-10.col-md-10
      .row
        .content
          .page-header
            h1 Управление сайтом

          ul.breadcrumb.panel.panel-default
            li.active
              | Панель управления

          ul.nav.nav-tabs
            li.active(title='', rel='')
              a(href='index.html')
                span.glyphicon.glyphicon-home(aria-hidden='true') 
                | &nbsp Панель управления

          //- -var tables = ['Команды','Игроки','Новости','Сезоны','Фото','Видео','Вопросы']
          table.table.table-condensed.table-striped.table-hover
            thead
              tr
                th.model-name Название таблицы
                th.records Число записей
                th.records Последние изменения
                th.records Автор изменений
                th.controls.col-xs-3.col-md-2.col-lg-1
            tbody
              - var i = 0
              each table in tables
                tr
                  td
                    span.show
                      = table.name
                  td
                    span.badge= table.records
                  td= table.date
                  td admin#1
                  td.links.col-xs-3.col-md-2.col-lg-1
                    ul.list-inline
                      li(title='Список', rel='tooltip')
                          a.pjax(href='#')
                            span.glyphicon.glyphicon-th-list
                      if table.name !== 'Команды'
                        li(title='Добавить', rel='tooltip')
                            a.pjax(href='#')
                              span.glyphicon.glyphicon-plus

          
          //- #block-tables.block
            .content
              h2 History
              table.table.table-condensed.table-striped
                thead
                  tr
                    th.shrink.user User
                    th.changes Changes
                tbody
                  tr
                    td username@example.com
                    td created ball #1 
          +footer
