mixin signin(data)
  .container
    form.form-signin(action='index.html')
      h2.form-signin-heading Добро пожаловать
      //- label.sr-only(for='inputEmail') Логин
      input#inputEmail.form-control(type='email', placeholder='Логин', required='', autofocus='')
      //- label.sr-only(for='inputPassword') Пароль
      input#inputPassword.form-control(type='password', placeholder='Пароль', required='')
      .checkbox
        label
          input(type='checkbox', value='remember-me')
          |  Запомните меня
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Войти